body
{
    width:  100%;
    height: 100%;
    margin: 0;
    padding-top: 2rem;
    background-color: antiquewhite;
}

div.loadsavecontainer
{
    display:         flex;
    justify-content: space-between;
    flex-direction:  column;
}
.ctct 
{
    display: flex;
    padding-left: 2rem;
}

.ct1
{
    margin-right: 2rem;
}
.ct2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%

}
.dt
{
    margin-bottom: 2rem;
}
label
{
    width: 100%;
}
.wr_check
{
    align-self: start;
    margin-bottom:1rem;
}
.loadsavecontainer
{
    width: max-content;
}
.savebutton
{
    width: 50%
}