---
---

@import "{{ site.theme }}";

header.apps
{
	float: initial;
	width: initial;
	position: initial;
}

footer.apps
{
	float: initial;
	width: 45%;
}

a h1
{
	color: currentColor;
}

h1.apps
{
	text-align: center;
}

p.view_apps_github
{
	float: left;
}

p.view_apps_pages
{
	float: right;
}

section.apps_section
{
	width: 50%;
	float: none;
	margin-left: 25%;
}

img.apps
{
	float: left;
	margin-right: 30px;
}